.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-wrapper{
  background-color: black;
  padding: 10px;
}

.nav-inner a{
  margin: 10px;
  color: white;
  text-decoration: none;
}

.cat a{
  text-decoration: none;
  color: black;
}

.cat{
  padding-left: 5%;
}
.div-meal{
  
  width: 20%;
  border-radius: 5%;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;

}

.div-detail{
  border: 1px solid gray;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
}

button{
  color: gray;
  background-color: transparent;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}